name: 3D Contribution Graph

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Generate 3D contribution graph
        uses: yoshi389111/github-3d-contrib@main
        with:
          target_branch: diff
          commit_message: "chore: update 3D contribution graph"

      - name: Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "chore: update 3D contribution graph" || true
          git push origin diff
